@font-face {
	font-family: 'SF-Pro';
	src: url('/fonts/SF-Pro.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'UncutSans-Bold';
	src: url('/fonts/UncutSans-Bold.woff') format('woff');
}

* {
    box-sizing: border-box;
    scrollbar-width: thin;
}

:root {
	--base: #fff2c9;
	/* --text: #090b08; */
	--primary: #3d5035;

    --font-headings: "UncutSans-Bold", Roboto, sans-serif;
    --font-body: "SF-Pro", sans-serif;
	--font-display: "NeueKonstantGrotesk-Book", sans-serif;
	--font-quirk: "Tiltortion", serif;
}

html {
    font: 16px/28px var(--font-body);
    text-rendering: optimizeLegibility;
    line-height: 1.5;
    color: var(--primary);
    background-color: var(--base);
}

body {
    margin: 0 10%;

	height: 100vh;

	border: 1px solid var(--subtle);

    display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto auto;
	column-gap: 1em;
}

.background-static {
	background-image: url('../noise.gif');
	opacity: calc(8/100);
	
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;

	width: 100%;
	height: 100%;

	pointer-events: none;
}

h1 {
	font-size: 2em;
}

h2 {
	/* font: 24px/36px var(--font-headings);
	letter-spacing: .07rem; */
	padding: 0;
	margin: .3em 0;
	font-size: 1.5em;
}

a {
	color: var(--primary);
}

p {
	padding: 0;
	margin: 0;
}