---
import BaseHead from '../components/BaseHead.astro';

import Sidebar from '../components/Sidebar.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import BasicLayout from '../layouts/BasicLayout.astro';
import HomeMain from '../components/HomeMain.astro';
---
<html>
	<BaseHead />
	<Header />
	<BasicLayout section='Home' description='(about me, also known as RobinTheHoo online)' color='aqua'>
		<Sidebar slot='sidebar' />
		<HomeMain slot='main' />
	</BasicLayout>
	<!-- <Footer /> -->
	<div class="background-static"></div>
</html>