<footer>
    <div class="socials">
        <a href="https://in.linkedin.com/in/ved-dave-60204516b">LinkedIn</a>
        <a href="https://www.instagram.com/vedsenpai/">Instagram</a>
        <a href="mailto: ved.dave7@gmail.com">E-Mail</a>
    </div>
    <a href="/colophon">About This Site</a>
</footer>

<style>
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        grid-row: 3;
    }
    .socials {
        display: flex;
        flex-direction: row;
    }
</style>