---

---
<header>
    <img width="4em" src="/public/gemlin.png" alt="site logo">
    <nav>
        <slot />
    </nav>
</header>

<style>
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
</style>