---
import {Image} from 'astro:assets';
import {Breadcrumbs} from 'astro-breadcrumbs';
import gremlin from '../../public/Header5.png';
import '../styles/breadcrumbs.css';
---
<header>
    <!-- <Image
        src={gremlin}
        alt="site logo"
        width="64"
        loading="eager"
    /> -->
    <Breadcrumbs>
        <span slot="separator" font-size='1.5em'>
            /
        </span>
    </Breadcrumbs>
</header>

<style>
    header {
        display: flex;
        flex-direction: row;
        column-gap: 1em;

        align-items: center;

        grid-row: 1;

        color: var(--primary);

        padding: .5em 2%;
    }
</style>