<!-- <h2>hola! &nbsp; &nbsp; &nbsp; hello ! </h2> -->
<h1>Heya ! I'm Ved. </h1>

<div class="something">

    <img src="/me.png" alt="photo of ved">
    
    <div>
        <p>
            I'm your friendly neighbourhood Gremlin, nice to see you here XD.
            <br>
            I'm an interaction designer by profession, currently enrolled for Master's of Interaction Design at UTS.
        </p>
        <p>
            I want to create meaningful, impactful and expressive products and designs. Would love to work with ambitious,
            passionate and humble people.
        </p>
        <p>
            Core beliefs: intentionalism, self-expression
        </p>
        <p>
            I'm a jack of all trades sorta person. I make art, sound, websites, games and write in my free time.
        </p>
        <p>    
            I'm big on DIY, creative expression, decentralized internet, indie gaming, music and low-tech.
        </p>
    </div>   
</div>
<!-- <h2>:: This website</h2> -->
<div>
    
    <p>This is my little corner of the internet. I shitpost and log life, events and learnings here.</p>
    <!-- <h2>:: Now</h2> -->
    <p>I'm trying to make some sounds using Orca and Pilot.</p>
    <p> Aight, Have fun exploring my virtual nook </p>
</div>


<style>

    .something {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        column-gap: 1em;
        /* align-items: stretch; */
    }

    div {
        /* margin: .5em 0; */
    }
    
    p {
        padding: .25em 0;
    }

    h1 {
        padding: 0;
        margin: .5em 0;
        margin-top: 0;

        font-size: 48px;

        color: var(--accent);
    }

</style>