<nav>
    <div class="nav-wrapper">
        <a href="/">VED</a>
        <a href="/works">WORKS</a>
        <a href="/Resume">RESUME</a> 
        <a href="/art">ART</a>
        <a href="/games">GAMES</a>        
        <a href="/log">LOG</a>
    </div>
    <div class="socials">
        <a href="https://in.linkedin.com/in/ved-dave-60204516b"></a>
        <a href="https://www.instagram.com/vedsenpai/"></a>
        <a href="mailto: ved.dave7@gmail.com"></a>
    </div>  
</nav>

<style>
    nav {
        /* height: fit-content; */
        padding-left: 1.5em;
    }
    .nav-wrapper {
        display: flex;
        flex-direction: column;       

        padding: .5em .5em;
        padding-right: 2em;

        border: 2px solid var(--primary);
    }
    a {
        text-decoration: none;
        padding-bottom: .25em;
    }
    a:hover {
        text-decoration: underline;
    }

    .socials a::before {
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;

      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f08c";
    }
</style>