<nav>
    <a href="/ved">VED</a>
    <a href="/works">WORKS</a>
    <a href="/now">NOW</a>
    <a href="/resume">RESUME</a>
    <a href="/log">LOG</a>
</nav>

<style>
    a {
        text-decoration: none;
        font-size: 2em;
    }
    a:hover {
        border-bottom: 1px solid var(--primary);
    }
</style>