---
import BaseHead from '../components/Sidebar.astro';
import Sidebar from '../components/Sidebar.astro';
---
<html>
    <BaseHead />
    <body>
        <Sidebar />
        <MainSection />
    </body>
</html>