---
import Sidebar from '../components/Sidebar.astro';
import '../styles/global.css';

interface Props {
    section: string;
    description: string;
}

const {section, description} = Astro.props;
---
<section class="main-content-wrapper">
    <slot />
    <section class="main-section">
        <div class="section-title">
            <h1>{section}</h1>
            <p>{description}</p>
        </div>
        <main>
        </main>
    </section>
</section>
