---
import '../styles/global.css';

interface Props {
    section: string;
    description: string;
    color: string;
}

const {section, description} = Astro.props;
---
<section class="main-content-wrapper">
    <slot name="sidebar"/>
    <section class="main-section">
        <div class="section-title" style="background-color: {color};">
            <h1>{section}</h1>
            <p>{description}</p>
        </div>
        <main>
            <slot name="main"/>
        </main>
    </section>
</section>

<style>
    .main-content-wrapper {
        display: grid;
        grid-template-columns: 1fr 7fr;
        grid-template-rows: auto;

        height: 80vh;
    }

    .main-section {
        margin: 0 2%;
        
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 10fr;
        row-gap: 1em;

        /* overflow-y: scroll; */
    }

    .section-title {
        display: flex;
        flex-direction: row;
        align-items: end;
        
        color: var(--primary);

        border: 2px solid var(--primary);

        padding: .5em .25em;
    }

    .section-title h1, p{
        margin:0;
    }

    .section-title h1 {       
        margin-right: .5em;
        line-height: 0.8;
    }
</style>
